body {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
}

button {
    width: 75px;
    margin-bottom: 30px;
}

.container {
    display: flex;
}

.grid {
    flex-grow: 0;
    flex-shrink: 0;
}

.hover {
    background-color: black;
}